@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Pretendard-Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color */
  --color-base-main: 6, 75%;
  --color-main: hsla(var(--color-base-main), 57%, 100%);
  --color-main-hover: hsla(var(--color-base-main), 40%, 100%);
  --color-main-focus: hsla(var(--color-base-main), 30%, 100%);
  --color-text-primary: hsl(0, 0%, 17%);
  --color-text-secondary: hsl(0, 0%, 36%);
  --color-text-disable: hsl(0, 0%, 47%);
  --color-text-placeholder: hsl(0, 0%, 47%);
  --color-divider: hsl(0, 0%, 85%);
  --color-shadow: hsl(0, 0%, 0%, 10%);
  --color-dim: hsl(0, 0%, 0%, 70%);
  --color-white: hsl(0, 0%, 100%);

  /* size */
  --size-border: 1rem;
}

*,
:after,
:before {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Pretendard-Regular', sans-serif;
}
body,
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
#__next,
#root {
  isolation: isolate;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

button:visited {
  color: inherit;
}

a:visited {
  color: inherit;
}
ul {
  list-style: none;
}
